html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  background-color: black;
}

div#app {
  display: flex;
  flex-flow: column;
  height: 100%
}

header {
  flex: 0 1 auto;
}

header h1 {
  margin: 0.25rem 0.5rem;
}

main.render-canvas-cont {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.render-canvas {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid red;
  min-height: 5rem;
  min-width: 5rem;
}
